<!-- ;-) -->
<!doctype html><title>Pigeon Pictures</title><meta charset="utf-8">
<style>
body {
    background: url({{ pigeon_pictures[0].picture_url }});
    background-size: cover;
    text-align: center;
    margin: 0;
}
img {
    max-width: 100vw;
}
#message {
    color: yellow;
    background: olive;
    font-size: 20pt;
    padding: 3px;
}
#countdown {
    font-size: 40pt;
}
#countdown.ended {
    color: red;
    font-weight: bold;
    animation: blink 1s linear infinite;
}
#flickr-note {
  color: red;
  background: white;
}
@keyframes blink {
  from { opacity: 0 }
  to { opacity: 1 }
}
.pigeon-picture {
  display: inline-block;
}
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0&appId=1667292343531860&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3934133-8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3934133-8');
</script>
<script>
const nextUpdateTime = new Date("{{ next_update_isoformat }}");
{{ javascript_snippet }}
</script>

<div id="message">New <strong>pigeons</strong> in: <span id="countdown">calculating...</span></div>
<div id="flickr-note">flickr wants me to write this: "This product uses the Flickr API but is not endorsed or certified by SmugMug, Inc."</div>

{% for picture in pigeon_pictures %}
<div class="pigeon-picture">
<img alt="image" src="{{ picture.picture_url }}">
<div>Pigeon Picture by <a href="{{ picture.author_url }}" class="author">{{ picture.author }}</a></div>
<div class="link-to-source">Source: <a href="{{ picture.picture_page_url }}">{{ picture.picture_page_url }}</a></div>
</div>
{% endfor %}

<div>
<div class="fb-like" data-href="https://www.facebook.com/pigeon.pictures.website/" data-width="400" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="false"></div>
<br><small>privacy policy - we (me?) only use google analytics to see if anyone actually enters this site</small>
</div>
