<!doctype html><title>Pigeon Pictures</title><meta charset="utf-8">
<style>
body {
    background: url({{ image_links[0] }});
    background-size: cover;
    text-align: center;
}
img {
    max-width: 100vw;
}
#message {
    color: yellow;
    background: cyan;
    font-size: 16pt;
}
#countdown.ended {
    color: red;
    font-weight: bold;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    from { opacity: 0 }
    to { opacity: 1 }
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3934133-8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-3934133-8');
</script>
<script>
{{ javascript_snippet }}
</script>
<div id="message">New pigeions in: <span id="countdown">calculating...</span></div>
{% for link in image_links %}
<img alt="pigeon picture" src="{{ link }}">
{% endfor %}